<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer" class="text-center">
        <div class="col-md-12">
            <hr/>
        </div>
        <div class="col-md-4">
        </div>
            <div class="col-md-2">
                <a href="https://github.com/jezierski-s">@Sławomir Jezierski</a>
            </div>
            <div class="col-md-2">
                <a href="https://github.com/mludwikowski001">@Michał Ludwikowski</a>
            </div>
        <div class="col-md-4">
        </div>
        <div style="height: 80px"></div>
    </div>
</html>