<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="imports :: imports"></span>
    <title>Home</title>
</head>
<body>
<div class="col-xs-12" style="height:100px;"></div>
<span th:replace="header :: header"></span>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.login}">Name</td>
    </tr>
    </tbody>
</table>
<span th:replace="footer :: footer"></span>
</body>
</html>