<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="imports :: imports"></span>
    <title>Offer</title>
</head>
<body style="background-image:url(https://www.eveonline.com/assets/img/universe/background_nebula.jpg)">
<style>
    .table>tbody>tr>td {
        vertical-align:middle;
    }
</style>
<div class="section">
    <div class="col-xs-12" style="height:100px;"></div>
    <span th:replace="header :: header"></span>
</div>
<div class="container">
    <div class="jumbotron text-center" style="background-color:rgba(48, 48, 48, .7)">
        <div id="badge" class="row">
            <a th:if="${#httpServletRequest.requestURI == '/offer'}" th:href="@{/cart}" class="btn btn-default pull-right" id="butCart"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Koszyk&nbsp;&nbsp;<span class="badge">{{itemCount}}</span></a>
            <a th:if="${#httpServletRequest.requestURI == '/cart'}" th:href="@{/offer}" class="btn btn-danger pull-left" id="butBack"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;Powrót</a>
        </div>
        <div class="row">
        <h3 th:text="${#httpServletRequest.requestURI == '/offer'}?'Oferta gier':'Koszyk'">Oferta gier</h3>
        <span th:if="${#httpServletRequest.requestURI == '/offer'}" id="searchFilter">
            <label for="search"> </label>
            <input type="text" v-model="searchString" v-on:keyup="doFilter" class="form-control" placeholder="Wyszukaj..." id="search"/>
        </span>
        </div>
    </div>
</div>
<div class="container" style="background-color:rgba(48, 48, 48, .7); border-radius:6px">
    <table class="table table-striped table-hover col-md-12">
        <thead>
        <tr>
            <th></th>
            <th>Okładka</th>
            <th>Tytuł</th>
            <th>Platforma</th>
            <th>Rok wydania</th>
            <th>Deweloper</th>
            <th>Cena</th>
            <th>Dystrybucja</th>
            <th>Stan</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="butBuy">
<script th:inline="javascript">
/*<![CDATA[*/

var games = [[${games}]];

/*]]>*/
</script>
        <tr v-for="(game,ind) in gameArray" v-if="game.name.indexOf(searchString)>-1">
            <td></td>
            <td><a href=""><img height="75" width="50" src="" class="image-holder" /></a></td>
            <td v-text="game.name">Grand Theft Auto V</td>
            <td>PC, PS4, XOne</td>
            <td>2014</td>
            <td v-text="game.producer">Rockstar Games</td>
            <td><span v-text="game.price">150</span> PLN</td>
            <td v-text="game.distrib?'pudełkowa':'cyfrowa'">Rockstar Games</td>
            <td v-text="game.isnew?'nowa':'używana'">Rockstar Games</td>
            <td><button v-on:click="addItem(ind)" class="btn btn-primary btn-sm" id="butBuyb"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Do koszyka</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
    <!--<ul class="list group col-md-12" >
        <li th:each="user,iterationStatus : ${users}" class="list-group-item">
            <a href=""><img height="50" width="50" src="" class="image-holder" /></a>
            <span th:text="${user.login}"></span>
        </li>
    </ul>-->
<span th:replace="footer :: footer"></span>
</body>
<script type="text/javascript" src="/js/offer.js"></script>
</html>

<!--<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>-->